.input-comp{
    width: 100%;
    height: 6rem;
    padding: 0 4.5rem 0 2rem;
    font-size: 1.8rem;
    background: #F5F7F9;
    box-shadow: inset 0px 0px 10px rgba(38, 31, 123, 0.05);
    border-radius: 10px;
    border: none;
    outline: none;
}