*{
    box-sizing: border-box;
}
html{
    height: 100%;
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;

    @keyframes animatedCircle {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translate(-5rem, -5rem);
        }
        100% {
            transform: translate(0);
        }
    }
    .animated {
        animation: animatedCircle 6s linear infinite;
    }
}