:root {
    /*BG Colors*/

    --BgMain: #F6F7FA;
    --BgWhite: #FFF;

    /*Text Colors*/

    --ColorBlack: #303030;
    --ColorWhite: #FFF;
    --ColorGray: #8789A1;

    /*Button Colors*/
    
    --BgBtnWhite: #FFFFFF;

    /*Content Space*/
    --ContentWidth: 135rem;
    /*Content Space*/
}