:root {
    /*BG Colors*/

    --BgMain: #F6F7FA;

    /*Text Colors*/

    --ColorBlack: #303030;

    /*Button Colors*/
    
    --BgBtnWhite: #FFFFFF;

    /*Content Space*/
    --ContentWidth: 135rem;
    /*Content Space*/
}